.testimonial-card {
  width: 100%;
  max-width: 450px; 
  min-height: 250px;

  padding: 28px 24px;

  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: 0.25s ease;
  box-sizing: border-box;
}

.testimonial-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.20rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;

  white-space: pre-line;
}

.testimonial-author {
  margin-top: 24px;

  font-family: "Montserrat", sans-serif;
  font-size: 1.154rem;
  font-weight: 700;
}


.testimonial-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0,0,0,.25);
}


/* Blue */

.testimonial-card.blue {
  background: #8fb0d3;
}

.testimonial-card.blue .testimonial-text,
.testimonial-card.blue .testimonial-author {
  color: #243447;
}

/* White*/

.testimonial-card.white {
  background: #ffffff;
}

.testimonial-card.white .testimonial-text {
  color: #1f1f1f;
}

.testimonial-card.white .testimonial-author {
  color: #8fb0d3;
}